---
layout: default
---
<section class="two_columns wrapper about">
  <img src="{{'img/cleaning_services.avif' | relative_url}}" height="520" width="520" alt="Quality Standard Ohio team cleaning an apartment">
  <div class="about_content">
    <small>Professional cleaning services in Columbus</small>
    <h2>Our cleaning services in Ohio</h2>
    <p>Experience the joy of a perfectly clean space with Quality <b> Standard Ohio.</b></p>
    <p>How can we help you?</p>
    <ul class="about_list">
      <li><span>&check;</span> We <b>free up the time you need</b> for other things</li>
      <li><span>&check;</span><b> “What a pain to clean that up...”</b> Don't worry, we'll do it!</li>
      <li><span>&check;</span> If you got a good service one day and not so good the next, was because you didn't call us. <b>Quality is consistent quality.</b></li>
      <li><span>&check;</span> Avoid damage to your home. Only our professionals can<b> guarantee their cleaning service.</b></li>
    </ul>
    <a href="{{'about-us'|relative_url}}" title="Quality Standard Ohio contact page" class="buttons button-secondary">→ Know the Quality team</a>
  </div>
</section>

<main class="services wrapper">
  <div class="text_center">
    <small>The most requested services in our agency</small>
    <h2>Quality Standard Ohio increases your peace and reduces your stress with its cleaning services</h2>
  </div>
  
    {% for category in site.data.services %}
      <section class="services_home">
        <h3>{{ category[0] | replace: '_', ' ' | capitalize }}</h3>
        <div class="gallery-slider">
          <div class="slider-container">
          {% for service in category[1] %}
            <article>
              <img 
              src="{{ service.img }}" 
              alt="{{ service.alt }}"
              title="{{ service.title_img }}"
              loading="lazy"
              width="376"
              height="200"
              >
              <div class="slider-container__text">
                <h4 >{{ service.title }}</h4>
                <p>{{ service.description }}</p>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
        <a href="{{'about-us'|relative_url}}" title="Quality Standard Ohio contact page" class="buttons button-secondary">More about {{ category[0] | replace: '_', ' ' | capitalize }} →</a>
      </section>
    {% endfor %}

  <div class="text_center flow">
    <p>Tired of inconsistent cleaning services in Columbus? Choose a service that fits your schedule and budget with Quality Standard Ohio.
    </p>
    {% include button.html text="Take our service →" %}
  </div>
</main>

<section class="two_columns two_columns_left wrapper about">
  <img src="{{'img/restaurant-cleaning-service.avif' | relative_url}}" height="520" width="520" alt="Quality Standard Ohio team cleaning an apartment">
  <div class="about_content">
    <small>Benefits of working with us</small>
    <h2>Benefits of Working with Columbus's Trusted Agency</h2>
    <p>Have you experienced theft during a "cleaning," property damage, or disappointing service?</p>
    <p>Partner with a professional Columbus cleaning service and enjoy peace of mind:</p>
    <ul class="flow">
      <li>
        <div class="benefits_item">
          <span><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="64" height="64" fill="#008037" viewBox="0 0 32 32"><path d="M13 11c.6 0 1-.4 1-1s-.4-1-1-1c-5 0-9 4-9 9 0 2.8 2.2 5 5 5s5-2.2 5-5-2.2-5-5-5c-.3 0-.7 0-1 .1 1.3-1.3 3-2.1 5-2.1zM23 13c-.3 0-.7 0-1 .1 1.3-1.3 3-2.1 5-2.1.6 0 1-.4 1-1s-.4-1-1-1c-5 0-9 4-9 9 0 2.8 2.2 5 5 5s5-2.2 5-5-2.2-5-5-5z"/></svg></span>
          <h3>I hired a cleaning service and they stole from me</h3>
        </div>
        <p>You should have called us! We guarantee compensation for proven losses, and we immediately terminate dishonest workers. <strong>We only employ trustworthy professionals.</strong>.</p>
      </li>
      <li>
        <div class="benefits_item">
          <span><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="64" height="64" fill="#008037" viewBox="0 0 32 32"><path d="M13 11c.6 0 1-.4 1-1s-.4-1-1-1c-5 0-9 4-9 9 0 2.8 2.2 5 5 5s5-2.2 5-5-2.2-5-5-5c-.3 0-.7 0-1 .1 1.3-1.3 3-2.1 5-2.1zM23 13c-.3 0-.7 0-1 .1 1.3-1.3 3-2.1 5-2.1.6 0 1-.4 1-1s-.4-1-1-1c-5 0-9 4-9 9 0 2.8 2.2 5 5 5s5-2.2 5-5-2.2-5-5-5z"/></svg></span>
          <h3>I've always been disappointed with cleaning services</h3>
        </div>
        <p>We understand - we've been there too.<strong>That's why we started our cleaning agency in Columbus.</strong>Quality Standard Ohio's work systems are fully endorsed by our loyal customers throughout Victorian Village and surrounding areas.</p>
      </li>
      <li>
        <div class="benefits_item">
          <span><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="64" height="64" fill="#008037" viewBox="0 0 32 32"><path d="M13 11c.6 0 1-.4 1-1s-.4-1-1-1c-5 0-9 4-9 9 0 2.8 2.2 5 5 5s5-2.2 5-5-2.2-5-5-5c-.3 0-.7 0-1 .1 1.3-1.3 3-2.1 5-2.1zM23 13c-.3 0-.7 0-1 .1 1.3-1.3 3-2.1 5-2.1.6 0 1-.4 1-1s-.4-1-1-1c-5 0-9 4-9 9 0 2.8 2.2 5 5 5s5-2.2 5-5-2.2-5-5-5z"/></svg></span>
          <h3>They came to clean and they hurt me</h3>
        </div>
        <p>Property damage costs more than the service itself. <strong>you have the guarantee of our agency</strong> If an incident occurs, you have our agency's guarantee to address any necessary repairs or compensation.</p>
      </li>
    </ul>
  </div>
</section>

{% include cta.html
  title="Quality Standard Ohio is Columbus's trusted agency delivering the cleaning you need and the confidence you deserve."
%}

<section class=" wrapper">
  <div class="text_center">
    <small>Book the best cleaning service Columbus Ohio in 3 Simple Steps</small>
    <h2>Use our app to schedule your cleaning service with Quality Standard Ohio:</h2>
  </div>
  <div class="three_columns">
    <div>
      <img src="{{ 'img/quality-cleaning-schedule-app.avif' | relative_url }}" width="376" height="200" alt="Images from the Quality Standard Ohio app for schedule a cleaning service with our Columbus agency" loading="lazy" title="Quality Standard Ohio app">
      <h4>1. Enter your details and select your service options</h4>
    </div>
    <div>
      <img src="{{ 'img/quality-service-online.avif' | relative_url }}" width="376" height="200" alt="Photo that show different cleaning services that a client could getting from our web app" loading="lazy" title="Quality Standard Ohio Services">
      <h4>2. Pay for your service or membership</h4>
    </div>
    <div>
      <img src="{{ 'img/clean-house.avif' | relative_url }}" width="376" height="200" alt="Photo of a clean house later of a Quality Standard Ohio service" loading="lazy" title="Quality Standard Ohio services result">
      <h4>3. Let us transform your house into a palace</h4>
    </div>
  </div>
  <div class="text_center ">
    {% include button.html
    text = '→ Take our service'
    %}
  </div>
</section>
{% include carousel.html %}
<!-- <section class="testimonials wrapper flow">
  <div class="section">
    <small>Recommendations from those who already enjoy their cleaning service</small>
    <h2>Check out Quality Standard Ohio cleaning service reviews</h2>
  </div>
  <div class="wrapper">
    <div class="testimonial-card">
      <div class="profile">
        <img src="{{ 'img/logo-quality.avif' | relative_url }}" width="80" height="80" alt="Roseanne">
        <div>
          <h3>Roseanne</h3>
          <span>Customers</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-72 -72 1344 1344" fill="#e7e7e7" stroke="#e7e7e7" stroke-width="0.012"> <path d="M681.526,1094.657c212.643-14.942,518.306-48.892,518.474-465.344v-523.97H725.496v560.61h157.559c9.98,149.693-113.285,188.346-247.329,218.017L681.526,1094.657z M45.802,1094.657c212.644-14.942,518.307-48.894,518.474-465.344v-523.97H89.77v560.61h157.559C257.311,815.647,134.044,854.3,0,883.971L45.802,1094.657L45.802,1094.657z" /></svg>
      </div>
      <div class="stars">★★★★★</div>
      <p>Parturient montes nascetur ridiculus mus mauris. Purus ut faucibus pulvinar elementum integer enim sed faucibus
        turpis in eu.</p>
    </div>

    <div class="testimonial-card">
      <div class="profile">
        <img src="{{ 'img/logo-quality.avif' | relative_url }}" width="50" height="50" alt="Patrick Herman">
        <div>
          <h3>Patrick Herman</h3>
          <span>Customers & CEO</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-72 -72 1344 1344" fill="#e7e7e7"
          stroke="#e7e7e7" stroke-width="0.012">
          <path
            d="M681.526,1094.657c212.643-14.942,518.306-48.892,518.474-465.344v-523.97H725.496v560.61h157.559c9.98,149.693-113.285,188.346-247.329,218.017L681.526,1094.657z M45.802,1094.657c212.644-14.942,518.307-48.894,518.474-465.344v-523.97H89.77v560.61h157.559C257.311,815.647,134.044,854.3,0,883.971L45.802,1094.657L45.802,1094.657z" />
        </svg>
      </div>
      <div class="stars">★★★★★</div>
      <p>Parturient montes nascetur ridiculus mus mauris. Purus ut faucibus pulvinar elementum integer enim sed faucibus
        turpis in eu.</p>
    </div>
  </div>
</section> -->
<section class="wrapper two_columns">
  <div>
    <h3>Ready to Experience Columbus's Premier Cleaning Service?</h3>
    <p>We'll transform your home into an oasis of tranquility and give your business the professional image it deserves. From German Village to Worthington, Dublin to Short North - we serve all Columbus neighborhoods with pride.</p>
    <div>
      <a href="{{'faqs' | relative_url}}" title="FAQs Quality section" class="buttons button-secondary">→ FAQ's section</a>
      <a href="{{'about-us' | relative_url}}" title="About Quality Standard Ohio in Columbus" class="buttons button-secondary">→ About us</a>
      <a href="#" id="lead_whatsapp" title="Quality Standard Ohio WhatsApp" class="buttons button-secondary" target="_blank" rel="nofollo noopener noreferrer">→ Let's chat</a>
      {% include button.html text="Take our service →" %}
    </div>
  </div>
</section>