---
layout: general
small: "Usar palabra clave para cada colaborador"
h1: "Utilizar el nombre del colaborador con una palabra clave local"
text: "Columbus' trusted cleaning service provides professional residential and commercial solutions. Schedule today!"
hero: 'img/person_service.avif'
button: true
---

<section class="two_columns wrapper about">
  <img src="{{'img/cleaning_services.avif' | relative_url}}" height="520" width="520" alt="Quality Standard Ohio team cleaning an apartment">
  <div class="about_content">
    <small>palabra clave  locales para la colaboradora</small>
    <h2>Título con el nombre corporativo más la persona</h2>
    <p>Una pequeña descripción de la persona más los años de experiencia que tenga ofreciendo el servicio de limpieza. Luego enlistar lo que más destacan los clientes de su experiencia.</p>
    <ul class="about_list">
      <li><span>&check;</span> We <b>free up the time you need</b> for other things</li>
      <li><span>&check;</span><b> “What a pain to clean that up...”</b> Don't worry, we'll do it!</li>
      <li><span>&check;</span> If you got a good service one day and not so good the next, was because you didn't call us. <b>Quality is consistent quality.</b></li>
      <li><span>&check;</span> Avoid damage to your home. Only our professionals can<b> guarantee their cleaning service.</b></li>
    </ul>
    <a href="{{'services'|relative_url}}" title="Quality Standard Ohio contact page" class="buttons button-secondary">→ Request his service</a>
  </div>
</section>

<section class="two_columns wrapper about bgr">
  <div class="">
    <h2>Título con el nombre corporativo más la persona</h2>
    <br>
    <br>
    <p> <b>Division: </b> Office Cleaning </p>
    <br>
    <p> <b>Experience: </b> 5 years on office cleaning and 7 years on home cleaning</p>
    <br>
    <p> <b>Certificate: </b> Quality Standard Ohio training </p>
    <br>
    <h3>Job skill based on experience</h3>
    <br>
    <div class="three_columns porcent">
      <div>
        <span>80%</span>
        <p> <b> Good comunication </b></p>
      </div>
      <div>
        <span>80%</span>
        <p> <b> Good comunication </b></p>
      </div>
      <div>
        <span>80%</span>
        <p> <b> Good comunication </b></p>
      </div>
    </div>


  </div>

  <img src="{{'img/service-cleaning.avif' | relative_url}}" height="520" width="520" alt="Quality Standard Ohio team cleaning an apartment">
</section>

{% include cta.html
  title="We’re trusted by all Ohio clients. Quality
  Standard Ohio become a reliable partner"
%}

<section class="wrapper two_columns">
  <div >
  <h2 class="h2_grey">Resolve your doubts and hire your cleaning service</h2>
  <p>We transform your home into an oasis of tranquility and give your business the first impression it deserves. Share your questions with us and benefit from our professional cleaning service.</p>
  
  <div class="two_columns">
  <a href="{{'services'|relative_url}}" title="Quality Standard Ohio contact page" class="buttons button-secondary">→ FAQ’s section</a>
  <a href="{{'services'|relative_url}}" title="Quality Standard Ohio contact page" class="buttons button-secondary">→ Know about us</a>
  <a href="{{'services'|relative_url}}" title="Quality Standard Ohio contact page" class="buttons button-secondary">→ Let’s chat</a>
  {% include button.html text="→ Take our service" %}
</div>
</div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16258056.993716383!2d-85.0204817738346!3d5.820014025150471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa0ee01906d28748b%3A0xcae8d02d1d8a980b!2sJuli.Com.Co%20-%20P%C3%A1ginas%20web%20y%20SEO%20para%20empresas!5e0!3m2!1ses-419!2sco!4v1731128074826!5m2!1ses-419!2sco" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
